<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome</title>
    </head>
    <body>
    <button><a href="/api/v1/google-auth/">Login with google</a></button>
    <h1>Welcome to EJS with Express</h1>
    <p>Hello, this is a basic EJS view.</p>
</body>
</html>
